.classcard {
  box-shadow: none;
  border-radius: 10px !important;
  overflow: hidden;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.classcard:hover {
  box-shadow: 0px 0px 12px -3px;
  border-radius: 10px;
}

.smoltext {
  font-weight: 300;
  background-color: white;
  color: #777;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}
